html{box-sizing:border-box;}
table,tr,th{margin:0;padding: 0}
.primaryWrap{position: relative;}
.pri-tabs{position: fixed;top:250px;left:0;}
.pri-tabs li{width:120px;text-align:center;height:60px;line-height:60px;background-color:#fafafa;color:#666;border-radius:0 5px 5px 0;cursor:pointer;margin-bottom:10px;transition:width .5s;border:1px solid transparent;box-sizing:border-box;}
.pri-tabs li.tabsOn{width:180px;color:#333;background-color:#fff;border:1px solid #e3e3e3;}
.pri-tabs li:hover{width:180px;color:#333;background-color:#fff;border:1px solid #e3e3e3;}
.primary-info{max-width: 960px;margin:0 auto;position: relative;padding:80px 0;min-height:460px;}
.primary-info table{width: 60%;margin: 0 auto;}
.primary-info input,.primary-info select{box-sizing: border-box;text-indent:12px;border:1px solid #e3e3e3;border-radius:5px;color:#333;background-color:#fff;}
.primary-info tr{line-height: 82px;}
.primary-info tr td:nth-child(1){color:#999;}
.primary-info #username{width:420px;height:40px;}
.primary-info #sex{}
.sex-radio span{font-size:.8rem;color:#333;margin:0 50px 0 6px;}
.sexWrp,.sexWrp label{width: 16px;height: 16px;display: inline-block;background: #ddd;border-radius: 100%;position: relative;vertical-align: middle;}
.sexWrp label{display: block;cursor: pointer;position: absolute;top: 0;left: 0;z-index: 1;}
/*自定义radio样式*/.sex-male input[type=radio]:checked + label{background: #3498db;}
.sex-scr input[type=radio]:checked + label{background: #ffa733;}
.smallRound{position: absolute;top:5px;left: 5px;width: 6px;height: 6px;border-radius: 100px;background: #fff;z-index: 2;cursor:pointer;}
.sel_year,.sel_month,.sel_day{width:120px;height:40px;outline:none;margin-right:6px;appearance:none;-moz-appearance:none;-webkit-appearance:none;background: url("../images/selectDown.png") no-repeat scroll center transparent;background-position: 97px 13px;background-size:14px;}
.sel_year,.sel_month,.sel_day option{width:120px;height: 40px!important;line-height:40px!important;text-indent:12px!important;}
#province ,#city{width:180px;height:40px;margin-right: 10px;appearance:none;-moz-appearance:none;-webkit-appearance:none;background: url("../images/selectDown.png") no-repeat scroll right transparent;background-position: 155px 13px;background-size:14px;background-color:#fff;outline:none;}
#setEmail{width:360px;height:40px;}
.setEmail{width: 50px;height: 40px;border-radius: 5px;background-color: #ffa733;color: #fff;font-size: 14px;display: inline-block;vertical-align: middle;line-height: 40px;text-align: center;}
.primary-info #sign{width: 390px;height: 90px;resize: none;overflow: auto;line-height: 16px;border-radius: 5px;border: 1px solid #e3e3e3;outline: none;padding: 15px;vertical-align: bottom;font-family: "microsoft yahei";font-size: 14px;color: #333;}
.primary-info button{width:110px;height:40px;background-color: #ff6666;color:#fff;font-size: 1rem;border:none;border-radius:5px;margin:0 auto;outline: none;font-family:"microsoft yahei";}
.primary-info .submitBtn{text-align:center;margin-top:70px;}
.userHead{width:140px;margin:0 auto;position: relative;}
.user-head-pic{width:140px;height:140px;border-radius:50%;overflow:hidden;}
.user-head-pic img{boredr:none;outline:none;width:100%;display: inline-block;}
.userPic-save{text-align:center;position: absolute;top: 0;display:none;z-index:2;}
.upload-user-hd{background-color: rgba(0,0,0,.7);background-image:url(../images/upHd.png);border-radius: 100px;background-size: 70px 58px;background-repeat: no-repeat;background-position: center;border-radius:100px;}
.userPic-save span{width: 50px;height: 35px;display: inline-block;line-height: 32px;background: #ff6666;border-radius: 4px;color: #fff;margin: 10px;float: right;margin-top: 30px;cursor: pointer;}
.hd-des{font-size: .8rem;color:#999;display:block;text-align:center;margin-top:18px;}
.hd-des:before{content:'';width:14px;height:14px;display:inline-block;background-image:url(../images/ti.png);background-size:contain;vertical-align:middle;margin-right:4px;}
/*绑定部分*/.bd-info{height:82px;line-height:82px;padding-left: 200px;}
.bd-info span{display:inline-block;width:90px;color:#999;}
.bd-part{display:inline-block;}
.bd-btn{width:80px;height:40px;border-radius:5px;color:#fff;display:inline-block;text-align:center;line-height:40px;font-size:.8rem;background-color:#ff6666;margin-left:10px;vertical-align:middle;}
.bd-ico{width: 23px;height: 23px;display: inline-block;background-image: url(../images/sub.png);background-repeat: no-repeat;background-size: 88px 88px;vertical-align: middle;margin-bottom:4px;}
.bd-qq{background-position: 0 -22px;}
.re-bd{margin-left:8px;}
#bd-email,#changeEmail,#forPass,#nowPass{width: 380px;height: 40px;}
#setPass{width: 380px;height: 40px;}
.resetPass-part input{width: 380px;height: 40px;}
.rePassCheck{margin-left:0;}
/*个人主页公共部分*/.panels{padding: 20px 0;max-width: 960px;margin: 0 auto;}
.panelsWrap{}
.panelsUser{padding: 60px 0 50px 0;background: #fff;text-align:center;position: relative;}
.panels .panels-collect{float: right;}
.panels .panels-collect a{width: 80px;height: 40px;border: 1px solid #999;display: inline-block;text-align: center;line-height: 42px;}
.panels-user-head img{width: 125px;height: 125px;outline: 0;border-radius:100px;}
.panels-user-info{padding: 8px 0 0 0;}
.panels-user-info h1{font-size: 16px;color:#333;display:inline-block;}
.user-sex{width:15px;height:15px;background-image:url(../images/pub.png);/*base64:skip*/background-size:48px 112px;display:inline-block;vertical-align: middle;margin-left:12px;}
.male{background-position:-33px -49px;}
.female{background-position:-33px -65px;}
.panels-user-info span{font-size: 12px;color: #666;display: block;margin-top: 10px;}
.panels-user-info .user-psign{color: #ccc;}
.user-list-nav ul{text-align: center;background:#fff;border-top:1px solid #f6f6f6;display: flex;justify-content: center;}
.user-list-nav li{display: inline-block;}
.user-list-nav a:hover{background-color:#f6f6f6;color:#ff6666;border-bottom: 2px solid #fe6765;}
.user-list-nav a{padding: 10px 40px;display: inline-block;box-sizing: border-box;border-bottom: 2px solid transparent;}
.user-list-nav .active{background-color:#f6f6f6;color:#ff6666;border-bottom: 2px solid #fe6765;}
.userPageBtn{position: absolute;top:45px;right: 45px;}
.userPageBtn a{background-color: #ff6666;color:#fff;display: inline-block;font-size:14px;border-radius: 4px;vertical-align: middle;position: relative;}
.userHots div{display: inline-block;margin-top: 24px;padding: 0 11px;}
.userHots span,.userHots i{display: block;text-align: center;font-style:normal;font-size:14px;color:#999;}
.userHots i{font-size: 16px;color:#333;margin-top: 8px;font-weight:bold;}
.msgIco{background-image:url(../images/guan.png);display: block;background-position: 0 0;}
.toFriendMsg{width: 48px;height: 32px;background-position: -35px -96px;}
.userInChg,.userAddFol,.userHsFol,.userCanFol{height: 32px;line-height: 32px;width:120px;}
.userAddFol{background-position: 0 0;}
.userHsFol{background-color: #34cd99!important;background-position:0 -62px;}
.userHsFol:hover{background-color: #ff6866!important;background-position:0 -30px;}
/*个人主页public*/.user-list{max-width: 960px;margin: 0 auto;margin-top:20px;position: relative;min-height: 300px;}
/*个人主页标签*/.user-tag{min-height:300px;}
.user-tag ul{width: 999px;}
.user-tag li{background:#fff;float: left;display: inline-block;width: 144px;box-sizing: border-box;margin: 0 19px 20px 0;overflow: hidden;text-align:center;border-radius:4px;position: relative;}
.user-tags-title{padding: 25px 0;color:#666;font-size:14px;}
.del-tags{display:none;width:12px;height:12px;position: absolute;top:4px;right:4px;background-image:url(../images/closes.png);background-size:contain;}
.user-tags-title:hover{color:#ff6666;}
.upload{background:url(../images/add.png) no-repeat;height: 70px;background-size: 40px;background-position: center;border: 2px dashed #999;box-sizing: border-box;display:block;}
/*关注页面*//*粉丝页面*/.user-fans{min-height:400px;}
.user-fans li{padding: 22px 25px;background:#fff;}
.rank-info{float: left;}
.rank-info img{width: 66px;height: 66px;border-radius: 50%;overflow: hidden;display: inline-block;vertical-align: bottom;}
.fans-detail{display: inline-block;margin-left: 16px;}
.fans-username{font-size:14px;color:#666;display:inline-block;}
.fans-say{font-size:12px;color:#ccc;padding:8px 0;margin-bottom:8px;display:block;}
.guanzhuBtn{width: 80px;height: 32px;font-size: 12px;text-align: center;line-height: 32px;background: #ff6666;color: #fff;display: block;margin: 0 auto;border-radius: 16px;}
.has-done{background-color:#eeeeee;color:#999;}
.list-btn-margin{margin-top: 12px;}
/*图片专辑页面*/.userCreateAl{width: 76px;height: 24px;line-height: 24px;border-radius: 20px;background-color: #e3e3e3;color:#777;font-size: 12px;display: inline-block;text-align: center;}
.userCol-nav{position: absolute;top: -20px;width: 100%;}
.userCol{font-size: 12px;color:#666;}
.userCol:first-child{margin-right:30px;}
.userSect{color:#333;}
.user-colPic ul,.user-colPhoto ul{width: 999px;min-height:400px;padding-top:20px;padding-bottom:20px;}
.user-colPic ul:after{display: block;clear: both;content: "";visibility: hidden;height: 0;}
.colPic-li{float: left;display: inline-block;width: 225px;box-sizing: border-box;margin: 0 20px 20px 0;padding: 12px;overflow: hidden;background-color: #fff;}
.blockMain{position: relative;z-index: 2;}
.colPic-li img{width: 100%;display:block;}
.colPic-title{color:#333;font-size: 14px;padding: 10px 0;}
.colPic-dtl span{color:#ccc;font-size: 12px;display: inline-block;margin-right: 6px;}
.albumFavorIco,.albumReadIco{background-image: url(../images/pub.png);/*base64:skip*/background-size: 48px 112px;width: 16px;height: 16px;display: inline-block;vertical-align: middle;margin-right: 4px;}
.albumFavorIco{background-position: 0 -95px;}
.albumReadIco{background-position: -16px -95px;}
/*photo*/.colPhoto-li{float:left;width:236px;margin:0 6px 6px 0;}
.colPhoto-li img{width:100%;display: block;}
/*私信页面*/.toSendMsg{width: 580px;}
.MsgTitle{padding:18px;color:#999;font-size: .8em;}
.MsgToName{padding:0 10px;color:#ff6665;}
.MsgBox{padding: 20px 18px;width: 544px;height: 238px;background: #f3f3f3;padding:-30px -36px;text-align: center;}
.MsgBox ul{height:100%;overflow-y:auto;}
.MsgBox ul::-webkit-scrollbar{width:4px;height:10px;}
.MsgBox ul::-webkit-scrollbar-thumb{background:#ddd;border-radius:4px;}
.loadingMsg{color:#fff;background: #dadada;border-radius: 4px;padding:4px 10px;display: inline-block;font-size: 12px;text-decoration:none;}
.MsgBox li{list-style: none;font-size: 12px;margin-bottom: 10px;}
.Umg-time{color:#fff;background: #dadada;border-radius: 4px;padding:4px 10px;display: inline-block;margin: 10px 0;}
.msg-Main{padding:10px 20px;color: #fff;background-color: #f3846b;border-radius: 4px;position: relative;margin: 0 18px;}
.fromMe{float: right;}
.fromMe:after{content: '';position: absolute;width: 0;height: 0;border-top: 14px solid #f3846b;border-right: 14px solid transparent;top:0;right: -9px;}
.ToMe{float: left;background-color: #ccc;}
.ToMe:after{content: '';position: absolute;width: 0;height: 0;border-top: 14px solid #ccc;border-left: 14px solid transparent;top:0;left: -9px;}
.msg-hdpic{}
.msg-hdpic img{width: 36px;height: 36px;border-radius: 100px;}
.sendBox{padding:10px 20px 20px 20px;}
.sayArea{width: 100%;}
.sayArea textarea{width: 96%;height: 64px;resize: none;outline: none;padding: 4px 10px;line-height: 16px;color:#333;background-color: #f3f3f3;font-size: 12px;border:none;overflow-y: auto;}
.sendMsg{margin-top: 12px;}
.sendMsg button{font-size: 12px;color:#fff;padding:8px 21px;background-color: #3399da;border-radius: 4px;outline: none;border:none;float: right;cursor: pointer;}
