body,div,form,h1,h2,h3,h4,h5,i,li,p,ul{margin:0;padding:0;font-family:"Microsoft yahei"}html{box-sizing:border-box;overflow-y:scroll}body{background:#ededed;position:relative;font-family:"microsoft yahei","PingFang SC",PingFangRegular,"Heiti SC","San Francisco",Helvetica}a{text-decoration:none;color:#646363}input{outline:0}li{list-style:none}input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset!important}textare{font-family:"microsoft yahei"!important}.cl{content:'';display:block;clear:both;overflow:hidden}.fl{float:left}.fr{float:right}.hide{display:none!important}.invisable{visibility:hidden}.headWrap{position:fixed;width:100%;background:#fff;z-index:99}.fillBox{padding:30px 0}header{height:60px;padding:0 40px;box-shadow:1px 1px 4px #ccc;overflow:hidden}.logo-nav{padding:15px 0}.logo{background:url(../images/tuzhaozhao.png) no-repeat;    background-position: center;display:inline-block;height:30px;width:100px;background-size:contain;vertical-align:middle;text-indent:-9999px}nav{display:inline-block;margin-left:20px}nav a{position:relative;display:inline-block;color:#333;padding:2px 0;font-size:16px;font-family:'microsoft yahei';margin-right:30px}nav a:hover:after{content:'';position:absolute;bottom:-3px;width:100%;left:0;border-bottom:2px solid #f66;transition:all linear .3s}.navAct:after{content:'';position:absolute;bottom:-3px;width:100%;left:0;border-bottom:2px solid #f66;transition:all linear .3s}.login-search{padding:15px 0}.login-register,.search-part{display:inline-block}.search-part{margin-right:30px;margin-top:2px;vertical-align:top}.search-wrap{border:1px solid #ccc;border-radius:20px;width:240px;position:relative;overflow:hidden;padding-bottom:2px}.search-wrap input{outline:0;border:none;width:180px;font-size:12px;vertical-align:middle;padding:4px 10px;color:#666}.search-wrap input::-webkit-input-placeholder{color:#999}.search-wrap input：:-moz-placeholder{color:#999}.search-wrap input::-moz-placeholder{color:#999}.search-wrap input：:-ms-input-placeholder{color:#999}.search-wrap input.searchFs{color:#666}.search-ico{display:inline-block;background:url(../images/search.png) no-repeat;width:20px;height:22px;background-position:center center;float:right;margin-right:10px;margin-top:1px;cursor:pointer}.login-register a{display:inline-block;text-align:center;width:52px;height:28px;line-height:28px;font-size:14px}.login-register span{margin:0;color:#ccc;border-left:1px solid #ccc;height:14px}.login{background:#f66;color:#fff;margin-right:15px;border-radius:15px}.register:hover{color:#f66}.loginWrap{float:right;width:230px}.logined{float:right;line-height:30px;cursor:pointer}.logined span{display:inline-block;font-size:14px;color:#333;margin-left:10px}.logined-list{display:none;position:absolute;top:61px;z-index:9;right:40px}.login_show{display:block!important;}.logined-list li{width:130px;background-color:#fff;cursor:pointer;position:relative}.logined-list a{display:block;padding:4px 0;color:#646363;cursor:pointer;font-size:14px}.logined-list .newTip:after{content:'';background-image:url(../images/redPoint.png);width:8px;height:8px;background-size:contain;position:absolute;top:14px;right:25px;display:inline-block}.logined-list a:hover{background-color:#f4f4f4;color:#f66}.logined-userhd{width:32px;overflow:hidden;border-radius:50%;vertical-align:middle}.logined-rotate{background-image:url(../images/pub.png);width:16px;height:16px;margin-left:20px;vertical-align:middle;display:inline-block;background-size:48px 112px;background-position:-16px -80px;transition:.4s ease}.logined-rotate.rota{transform:rotate(-180deg);-ms-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-webkit-transform:rotate(-180deg);-o-transform:rotate(-180deg)}.u-exit,.u-msg,.u-page,.u-setting{width:16px;height:16px;background-image:url(../images/pub.png);display:inline-block;background-size:48px 112px;vertical-align:middle;margin:0 5px 2px 10px}.u-page{background-position:0 -48px}.u-setting{background-position:-16px -48px}.u-msg{background-position:0 -64px}.u-exit{background-position:-16px -64px}
/*footer*/
footer{text-align:center;font-size:12px;color:#999;line-height: 25px;padding: 20px 0;background-color:#fff}
footer a{font:inherit;color:#999;}
footer a:hover{text-decoration:underline;}
footer .dot{margin: 0 8px;}

/*gototop*/
.goToTop{
    display: none;
    width: 48px;
    height: 48px;
    border-radius: 3px;
    position: fixed;
    bottom: 200px;
    right: 100px;
    background-color: #000;
    opacity: .6;
    cursor: pointer;
  }
  .goToTop:hover .topArrow{
    display: none;
  }
  .goToTop:hover .topText{
    display: block
  }
  .topArrow{
    width: 30px;
    height: 20px;
    top:14px;
    left: 9px;
    display: inline-block;
    background-image: url(/dist/images/up.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
  .topText{
    display: none;
    width: 30px;
      color: #fff;
      font-size: 12px;
      padding: 8px 12px;
  }
#alert{
  width:400px;height:190px;box-shadow: 0 0 4px 4px #666;border-radius:4px;overflow:hidden;
}
#alert-box{
  position:relative;height: 100%;text-align: center;
}
#alert-message{
  line-height: 160px;    font-size: 20px;
}
#alert-button-confirm{
  position:absolute;bottom:0;width:100%;background-color:#ff8383;line-height:40px;color:#fff;cursor:pointer
}
#alert-button-confirm:hover{background-color: #ff6666}