<li><div><a href="<%=photo.titleurl %>" target="_blank" title="<%=photo.title %>"><img src="/dist/images/placeholder.png" data-src="<%=photo.titlepic %>" alt="<%=photo.title %>"  class="lazyload" ></a></div></li>
