<div class="cont-user cl">
    <div class="cont-user-hd">
        <a href="/user/<%= info.user.userid%>">
            <img src="<%= info.user.userpic%>">
        </a>
    </div>
    <div class="cont-user-info">
        <p>
            <%= info.user.username%>
        </p>
        <span>2019.01.08</span>
    </div>
    <div>
        <a href="javascript:;" data-userid="<%= info.user.userid%>" class="cont-addFans"></a>
    </div>
</div>
